:root {
    --primary-color: #990000;
    --secondary-color: #D4AF37;
    --light-color: #F5F5F5;
    --dark-color: #333;
    --max-width: 1200px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cormorant', serif;
    background-color: var(--light-color);
    color: var(--dark-color);
    line-height: 1.6;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    font-family: 'Cormorant SC', serif;
    margin-bottom: .55rem;
    color: black;
    line-height: 1.2;
}

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

#main-nav {
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 1rem 0;
}
#main-nav ul li a {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-weight: bold;
}

#main-nav ul{
    display: flex;
    justify-self: center;
    gap: 2rem;
}

#main-nav ul li a:hover {
    color: var(--light-color);
    transition: color 0.2s ease;
}

#main-nav .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 1rem;
    align-items: center;
}

#main-nav .logo {
    width: 293x;
}

#main-nav .social i {
    display: flex;
    justify-self: end;
    gap: 0.5rem;
}

#main-nav .social a:hover {
    color: var(--light-color);
    transition: color 0.2s ease;
}

/* Footer Styles */

#main-footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

#main-footer a {
    color: var(--light-color);
}

#main-footer img{
    width: 150px;
}

#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {
    grid-column: span 4;
    background-color: #444;
    padding: .5rem;
    text-align: center;
    font-size: 0.75rem;
}

#main-footer .footer-container .social i {
    display: flex;
    justify-self: center;
    gap: 0.5rem;
}

#main-footer h3 {
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
}

#article figure img{
    margin: 1rem 0;
    height: 600px;
    align-content: center;
}

#body-text {
    line-height: 2;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-weight: 600;
}

#article small {
    font-size: 1rem;
    color: var(--dark-color);
    font-weight: 700;;
    margin-top: 1rem;
}

#article {
    align-content: left;
    padding: 5rem;
}

#article h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    justify-content: center;
}

#article figure figcaption {
    font-size: 1rem;
    color: #888;
    font-style: italic;
}

#article .page-container {
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    align-content: left;
}